<div align="center">
  How it works!
</div>

1v1: Simply put in two existing summoner names and a champion for each summoner to play.
You will then see the probability of that summoner winning a game with that champion in comparison to the second summoner.<br>
Team: If you are going into battle with a random team or are just wondering about the skill level of your LoL team members,
put in all the according summoners and their corresponding champions to view the team probability of a win!
  </div
